:root {
  --first-title-color: #2e2f42;
  --second-title-color: #434455;
  --first-logo: #4d5ae5;
  --first-btm-color: #ffffff;
  --second-btm-color: #4d5ae5;
  --first-background-btn: #f4f4fd;
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

/** INDEX HTML  **/
/* Heder-nav */
.header-logo {
  color: var(--first-logo);
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.header-logo-part {
  color: #2e2f42;
}

.header-link {
  color: var(--first-title-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.header-link:hover,
.header-link:focus {
  color: #404bbf;
}

/* Address */
.address {
  font-style: normal;
}
.address-link {
  color: var(--second-title-color);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.address-link:hover,
.address-link:focus {
  color: #404bbf;
}

/* Hero */
.hero-title {
  color: #ffffff;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
}

.hero {
  background: #2e2f42;
}

.hero-btn {
  color: var(--first-btm-color);
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background: #4d5ae5;
  cursor: pointer;
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: #404bbf;
}

/* About */
.about-item-title {
  color: var(--first-title-color);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.about-item-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* Our works(What are we doing) */
.our-works-title {
  color: var(--first-title-color);
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

/* Our team */
.team {
  background-color: #f4f4fd;
}

.team-title {
  color: var(--first-title-color);
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.team-item {
  background-color: #ffffff;
}

.team-item-name {
  color: var(--first-title-color);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;
}

.team-item-profession {
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
}

/* Footer */
.footer {
  background: #2e2f42;
}
.footer-logo {
  color: var(--first-logo);
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.footer-logo-part {
  color: #f4f4fd;
}

.footer-text {
  color: #f4f4fd;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/**PORTFOLIO **/
/* Filter */
.filter-btn {
  color: var(--second-btm-color);
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.04em;
  background-color: var(--first-background-btn);
  cursor: pointer;
}

.filter-btn:hover,
.filter-btn:focus {
  color: #ffffff;
  background: #404bbf;
}

/* Portfolio */
.portfolio-item-title {
  color: var(--first-title-color);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.portfolio-item-text {
  color: var(--second-title-color);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
